<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/info.css" />
  </head>
  <body>
    <div class="form-style-5">
    <form>
    <fieldset>
    <legend><span class="number">1</span> Information </legend>
    <input type="text" name="field1" placeholder="Your Name *">
    <input type="number" name="field1" placeholder="Your Age">
    <input type="email" name="field2" placeholder="Your Email *">
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
    <input type="text" name="field1" placeholder="Local Address 1">
    <input type="text" name="field1" placeholder="Local Adress 2">
    <input type="text" name="field1" placeholder="Occupation">
    </fieldset>
    <input type="submit" value="Apply" />
    </form>
    </div>
  </body>
</html>
